body {
  background-image: url("saturn_background.jpg");
  background-color: black
}
h1 {
  font-size: 35px;
  font-family: consolas;
  color: white;
  text-align: center;
}
h2 {
  font-size: 30px;
  font-family: consolas;
  color: white;
  text-align: center;
}
p {
  color: white;
  text-align: center;
  font-family: consolas;
  font-size: 15px
}
a {
  color: white;
  text-decoration: underline;
  text-align: center;
  font-family: consolas;
  font-size: 20px
}
